<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baihe.lib_order">
    <application
        android:name="com.baihe.lib_common.CommonApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/order_app_name">

    </application>

</manifest>