<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baihe.lib_contract">

    <application>
        <activity android:name=".ui.activity.ContractListActivity" />
        <activity android:name=".ui.activity.ContractDetailActivity" />
        <activity android:name=".ui.activity.AddOrUpdateContractActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activity.PreviewContractActivity" />
    </application>
</manifest>