<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baihe.lihepro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.baihe.lihepro.permission.XGPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.baihe.lihepro.permission.XGPUSH_RECEIVE" />
    <application
        android:name="com.baihe.lihepro.CrmApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name="com.baihe.lihepro.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baihe.lihepro.activity.ExitAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTransparentTheme" />
        <activity
            android:name="com.baihe.lihepro.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.RequirementListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CustomerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.SalesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.RequirementSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CustomerSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.SalesSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CustomerDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="gcrmapi.hunli.baihe.com"
                    android:path="/customerdetail"
                    android:scheme="lihecrm" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baihe.lihepro.activity.FollowDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.PhotoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.PhotoBrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CustomerStructureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CustomerStructureListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CustomerStructureSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.FollowAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.InputEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CustomerAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CitySelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ContactEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.LoginUserProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CategoryAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.CategoryEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ReceiveOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.SalesDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="gcrmapi.hunli.baihe.com"
                    android:path="/salesDetail"
                    android:scheme="lihecrm" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baihe.lihepro.activity.ContractDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ContractNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.DiscountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ProductSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ProductAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ApproveListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.SalesFollowAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.OrderEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ContractListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.activity.ContractSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baihe.lihepro.filter.FilterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind"
            android:theme="@style/ActivityTransparentTheme"
            android:windowSoftInputMode="adjustPan" />




        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="605b038ab8c8d45c13ade9a6" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="unknown" />

        <activity
            android:name="com.baihe.lihepro.activity.PayCodeListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AddPayCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PayCodeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProtocolDeskActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ProtocolDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProtocolDeskDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ScheduleHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ScheduleHallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ScheduleReserveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ScheduleBookActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyScheduleListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReserveDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BookDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ResetBookActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HallListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind"
            android:theme="@style/ActivityTransparentTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.CustomerServiceListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddTeamActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.MultiScheduleHomeActivity" />
        <activity android:name=".activity.ScheduleMultiBookActivity" />
        <activity android:name=".activity.ScheduleMultiReserveActivity" />
        <activity android:name=".activity.NewResetBookActivity" />
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:exported="false"
            android:process=":xg_vip_service">

            <intent-filter android:priority="0x7fffffff">


                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.xg.vip.action.SDK" />
                <action android:name="com.tencent.android.xg.vip.action.INTERNAL_PUSH_MESSAGE" />
                <action android:name="com.tencent.android.xg.vip.action.ACTION_SDK_KEEPALIVE" />
            </intent-filter>

        </receiver>

        <!-- 【必须】移动推送 TPNS service -->
        <service
            android:name="com.tencent.android.tpush.service.XGVipPushService"
            android:persistent="true"
            android:process=":xg_vip_service"/>

        <!-- 【必须】通知 service ，android:name 部分改为包名.XGVIP_PUSH_ACTION -->
        <service android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="false">
            <intent-filter>
                <!-- 【必须】请修改为当前APP名包.XGVIP_PUSH_ACTION -->
                <action android:name="com.baihe.lihepro.XGVIP_PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【必须】【注意】authorities 修改为包名.XGVIP_PUSH_AUTH -->
        <provider
            android:name="com.tencent.android.tpush.XGPushProvider"
            android:authorities="com.baihe.lihepro.XGVIP_PUSH_AUTH" />

        <!-- 【必须】【注意】authorities 修改为包名.TPUSH_PROVIDER -->
        <provider
            android:name="com.tencent.android.tpush.SettingsContentProvider"
            android:authorities="com.baihe.lihepro.TPUSH_PROVIDER" />

        <!-- 【可选】用于增强保活能力 -->
<!--        <provider-->
<!--            android:name="com.tencent.android.tpush.XGVipPushKAProvider"-->
<!--            android:authorities="com.baihe.lihepro.AUTH_XGPUSH_KEEPALIVE"-->
<!--            android:exported="true" />-->

        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver android:name="com.baihe.lihepro.push.PushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.xg.vip.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.xg.vip.action.FEEDBACK" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.huawei.android.hms.tpns.HWHmsMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- 【必须】 请修改为 APP 的 AccessId，“15”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="1580001576" />
        <!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AJMRFQTVY2L8" />

        <meta-data
            android:name="XG_SERVER_SUFFIX"
            android:value="tpns.sh.tencent.com" />

    </application>

</manifest>