<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baihe.lib_user">

    <application
        android:name="com.baihe.lib_common.CommonApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/user_app_name">
        <activity android:name=".ui.UpdatePasswordActivity" />
        <activity android:name=".ui.SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>